.drawer-container {
  height: 100%;

  .content {
    padding: 20px;
  }
;

  .sidenav {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      width: 100%;
    }
  }
}
